@import url("bootstrap.min.css");
@import url("bootstrap-theme.css");
h2 {
    color: black;
    size: 2in;
    text-align: center;
}

h1 {
    text-align: center;
}

.jumbotron {
    color: #0f1101;
}


/*background-color:none !important;*/